<div class="conten-header">
  Fund Objective and Investment Process
</div>
<div class="content">
  AQR Style Premia Fund seeks to produce high risk adjustment returns while maintaining low-to-zero correlation to
  traditional markets.
  AQR pursues these goals by investing in a combination of different Investment strategies that apply qunatitative
  return forecasting models and systematic risk control
  methods.
  <br>
  Our multi-strategy investment process includes
  <ul class="FloatLeft">
    <li>Stockes & Industeries</li>
    <li>Equity Markets</li>
    <li>Commodities</li>
  </ul>
  <ul class="FloatLeft">
    <li>Fixed Income</li>
    <li>Currencies</li>
  </ul>
  <div class="clearBoth"></div>
  <hr class="objectiveHr FloatLeft"/>
  <div class="clearBoth"></div>
  <span>
  <b>Assets Under Management</b> (approx. as of 01/02/2019)
  <br/>
  Estimated Master Fund Net Assets. $12.2 billion
  <br/>
 </span>
  <hr class="objectiveHr FloatLeft"/>
  <div class="clearBoth"></div>
</div>