
body{
  color: black;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 11px;
}
.label
{
  color: #fff;
  margin:2px;
  margin-left: 4px;
  margin-right: 4px;
}

.templateTable td, .templateTable th,
.templateTable
{
  border:1px dashed #afacac;
  margin:auto;
  min-height: 75px;
  text-align: left;
  padding:5px;
}
.margin-top-2
{
  margin-top:2px;
  z-index:99999;
}
.conten-header
{
  background-color: #959192;
  text-align: left;
  font-weight: bold;
  font-size: 12px;
  padding: 3px;
  margin: 0px;
}
.content
{
  padding-left: 6px;
  font-size: 10px;
  margin: 0px;  
  margin-top:2px;
}
.FloatLeft
{
  float:left;
}
.FloatRight
{
  float: right;
}
.clearBoth
{
  clear: both;
}
.textAlignLeft
{
  text-align: left;
}

.table-heading
{
  font-weight: bold;
}
#content-wrapper
{
  overflow: auto;
}

.templateTable {
  border-collapse: collapse;
}

.templateTable td.resizing{
  cursor: col-resize;
}
.btn{
padding: .175rem .15rem;
}
.toolbar
{
  height: 20px;
  text-align: right;
  padding: 0px;
  padding-right:5px;
  border: none;
  float: right;
  position: static;
  right: 0px;
}

.toolbar-icon
{
  background: transparent;
  width:18px;
  height:18px;
  text-align: center;
  background-position: center;
  background-repeat: no-repeat;
  float: right;
  cursor: pointer;
  border:none;
  opacity: 0.2;
  }
.toolbar-delete
{
  background-image: url("./assets/images/delete.png");
}
.toolbar-icon:hover
{
  border: solid 1px #ccc;
  background-color: #f7f7f7;
  border-radius:3px;
  opacity: 1;
}
.width98percent
{
  width:calc(100% - 25px);
}