<div class="conten-header">
  Disclaimer
</div>
<div class="content">
  <p>
    All investments, including real estate, is speculative in nature and involves substantial risk of loss. We
    encourage
    our investors to invest carefully. We also encourage investors to get personal advice from your professional
    investment advisor and to make independent investigations before acting on information that we publish. Much of our
    information is derived directly from information published by companies or submitted to governmental agencies on
    which we believe are reliable, but are without our independent verification. Therefore, we cannot assure you that
    the
    information is accurate or complete. We do not in any way warrant or guarantee the success of any action you take
    in
    reliance on our statements or recommendations.
  </p>
  <p>
    Past performance is not necessarily indicative of future results. All investments carry risk and all investment
    decisions of an individual remain the responsibility of that individual. There is no guarantee that systems,
    indicators, or signals will result in profits or that they will not result in losses. All investors are advised to
    fully understand all risks associated with any kind of investing they choose to do. Hypothetical or simulated
    performance is not indicative of future results. Unless specifically noted otherwise, all return examples provided
    in
    our websites and publications are based on hypothetical or simulated investing. We make no representations or
    warranties that any investor will, or is likely to, achieve profits similar to those shown, because hypothetical or
    simulated performance is not necessarily indicative of future results. Don’t enter any investment without fully
    understanding the worst-case scenarios of that investment.
  </p>
</div>