.headerInput
{
    height:75px;
    font-size: 32px;
    font-family: 'Cambria', Georgia, 'Times New Roman', Times, serif;
    font-weight: bold;
    border: none;
    width:90%;
    margin-left: 0px;
}